body {
	height: 800px;
	width: 100%;
	background: linear-gradient(to bottom right, #000000 0%, #ffffff 100%);
	background-repeat: no-repeat;
	background-size: cover;
}

.answerButtons {
	font-size: 18px;
}
.answerButtons:hover {
	color: white;
	background: gray;
	transition: .3s;
}
.answerButtons:active {
	background: black;
}
.questions {
	margin-bottom: 30px;
}
.jumbotron h1 {
	margin-bottom: 30px;
}
.restartButton {
	margin-top: 30px;
}

.jumbotron {
	margin-top: 50px;
	border: black;
	border-style: solid;
	border-width: 1px;
}
.questions {

}
h1 {
	border: black;
	border-style: solid;
	border-width: 1px;
	padding: 20px;
	border-radius: 8px;
}